@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Prata&display=swap');

* {
    font-family: Outfit;
}

.main-navbar .nav-link {
    border-radius: 6px;
    padding: 5px 15px !important;
}

.main-navbar .nav-link.active {
    background-color: #0D6EFD;
    color: white !important;
    border-radius: 6px;
    font-weight: 500;
}

.main-navbar .nav-link:hover {
    background-color: #0D6EFD;
    color: white !important;
    border-radius: 6px;
}

.profile-toggle {
    cursor: pointer;
    margin-right: 16px;
}

.profile-toggle::after {
    display: none !important;
}

.btn-hover:hover {
    background-color: #a9a9a920 !important;
}